/*	
	responsive.css
	by Jun Soo Shin
	Comp 20: Lab 4
	due  6 October 2015
	note: stylesheet that helps show certain portion of homer.jpg, in
	      regards to the size of the screen
*/

/* first colum, top image */
@media all and (min-width: 1201px) {
	.homer {
		width:166px; 
		height:125px; 
		background:url(homer.jpg) 0px 0px;
	}
}

/* second column, top image */
@media all and (min-width: 1101px) and (max-width: 1200px) {
	.homer {
		width:167px; 
		height:125px; 
		background:url(homer.jpg) -166px 0px;
	}
}

/* first column, second image */
@media all and (min-width: 1001px) and (max-width: 1100px) {
	.homer {
		width:166px; 
		height:125px; 
		background:url(homer.jpg) 0px -125px;
	}
}

/* second column, second image */
@media all and (min-width: 901px) and (max-width: 1000px) {
	.homer {
		width:167px; 
		height:125px; 
		background:url(homer.jpg) -166px -125px;
	}
}

/* first column, third image */
@media all and (min-width: 801px) and (max-width: 900px) {
	.homer {
		width:166px; 
		height:125px; 
		background:url(homer.jpg) 0px -250px;
	}
}

/* second column, third image */
@media all and (min-width: 701px) and (max-width: 800px) {
	.homer {
		width:167px; 
		height:125px; 
		background:url(homer.jpg) -166px -250px;
	}
}

/* first column, bottom image */
@media all and (min-width: 601px) and (max-width: 700px) {
	.homer {
		width:166px; 
		height:125px; 
		background:url(homer.jpg) 0px -375px;
	}
}
