/*	
	responsive.css
	by Jun Soo Shin
	Comp 20: Lab 4
	due  6 October 2015
	note: stylesheet that helps show certain portion of homer.jpg, in
	      regards to the size of the screen
*/

@media all and (min-width: 1201px) {
	.homer {
		width:166px; 
		height:125px; 
		background:url(homer.jpg) 0px 0px;
	}
}

@media all and (min-width: 1101px) and (max-width: 1200px) {
	.homer {
		width:167px; 
		height:125px; 
		background:url(homer.jpg) -166px 0px;
	}
}

@media all and (min-width: 1001px) and (max-width: 1100px) {
	.homer {
		width:166px; 
		height:125px; 
		background:url(homer.jpg) 0px -125px;
	}
}